@model RestaurantManagerApplication.Models.ReviewViewModel[]

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Reviews</h1>
    @if (Model == null || Model.Length == 0)
    {
        <p class="mb-4">There is no reviews yet!</p>
    }
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <!--<div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
                <hr>
                Styling for the area chart can be found in the
                <code>/js/demo/chart-area-demo.js</code> file.
            </div>
        </div>-->
        <!-- Bar Chart -->
        <!--<div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                    <hr>
                    Styling for the bar chart can be found in the
                    <code>/js/demo/chart-bar-demo.js</code> file.
                </div>
            </div>

        </div>-->

        @if (Model != null)
        {
            @foreach (var review in Model)
            {
                    <!-- Donut Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Review rating: @review.Rating</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                @review.Content
                            </div>
                        </div>
                    </div>
            }
        }
    </div>
</div>

