@model RestaurantManagerApplication.Models.MenuSectionModel[]

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Chose section</h1>
    @if (Model == null || Model.Length == 0)
    {
        <p class="mb-4">There is no sections yet, create one!</p>
    }
    <!-- Content Row -->
    <div class="row">
  
        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-nav">
            <a href="@Url.Action("CreateSectionWithPosition", "Menu")" class="btn btn-success btn-icon-split ">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Create New Menu Section</span>
            </a>
        </div>
    </div>
    <div class="row">

        @if (Model != null)
        {
            @foreach (var review in Model)
            {
                <!-- Donut Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3">
                            <a href="@Url.Action("Create", "Menu", new {sectionId = review.Id })" class="btn btn-light">
                                <h6 class="m-0 font-weight-bold text-primary">@review.Name</h6>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    </div>

