@model ResponseModel
<div class="container-fluid">

    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">@Model.Message</h1>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-user btn-block" onclick="location.href='@Url.Action(Model.ActionToGoBackTo,Model.ControllerToGoBackTo)'" style="width:200px">Return</button>
    </div>
</div>